body {
    margin: 64px 64px;
    display: flex;
    gap: 169px;
    flex-flow: center;
    background-color: #9C2004;
    font-family: "Work Sans", sans-serif;
}

h1 {
    margin: 0;
    font-size: 88px;
    color: white;
    width: 100%;

}

p {
    padding-top: 40px;
    color: white;
    font-size: 24px;
    width: 100%;

}

.button {
    margin-top: 40px;
    width: 231px;
    height: 82px;
    background-color: #E5B94B;
    color: #080808;
    border-radius: 36px;
    font-size: 32px;
    border: none;
}

.dot-img {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.text-box {
    max-width: 100%;
    margin-top: 134px;

}

@media (max-width: 800px) {
    body {
        margin: 64px 64px 0 64px;
        display: flex;
        flex-direction: column;
        gap: 64px;
    }

    .text-box {
        margin-top: 0;
        max-width: 100%;
    }

    .img-1 {
        display: none;

    }
}

@media (min-width: 801px) {
    body {
        display: flex;
        flex-direction: row;
    }

}